*{
    background-color: rgb(231, 222, 143);
}

.dash-topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: coral solid 2px;
    height: 6rem;
}

.dash-topo h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 52rem;
    border: 2px solid red;
}

.dashboard-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: coral solid 2px;
}

.button_monitoramento{
    width: 10rem;
    height: 5rem;
    background-color: bisque;
}

.dash-usuario{
    border: coral solid 2px;
    margin-left: 5rem;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    border-radius: 1rem;

}

.img-usuario{
    margin: 0.7rem;
}

.imagem-config{
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid gold;
}

.nome-usuario{
    font-size: 1rem;
    font-weight: bold;
}

.linha-indicadores{
   height: 7rem;
   width: 100%;
   border: 2px solid crimson;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-self: center;
   gap: 2.5rem;
   margin-top: 3rem;
   /* margin-left: 2rem;
   margin-right: 2rem; */
}

.boxiindicadores{
    height: auto;
    width: 18rem;
    border: 2px solid cornflowerblue;
}

.box-do-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid rgb(82, 34, 29);
    margin-top: 2rem;
}


.grafico-principal{
    width: 90%;
    height: 27rem;
    border: 2px solid seagreen;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* .grafico-principal h2{
    margin-top: 3rem;
} */

.box-grafico{
    width: 80%;
    height: 90%;
    border: 2px solid rgb(3, 54, 64);
    margin-bottom: 3.25rem;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.box-grafico canvas {
    width: 100%;
    height: 100%;
}

.boxiindicadores{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#indicador1, #indicador2, #indicador3, #indicador4{
    font-weight: normal;
    font-size: 1.5rem;
}

.titulo_indicadores{
    height: 2rem;
    font-size: 1.5rem;
}