body {
  margin: 0;
  background-color: #1c120a;
  color: white;
  font-family: 'Montserrat';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 40px;
  border-bottom: 2px solid #e0a246;
  background-color: #1c120a;
  width: 94.5%;
}

.logo {
  font-size: 2rem;
  color: #e0a246;
  font-weight: bold;
  margin-left: 1rem;
  width: 15%;
}

nav{
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

nav a {
  /* margin-left: 20px; */
  text-decoration: none;
  color: white;
  font-weight: bold;
}