*{
    background-color: #251A0D;
    color: white;
}

.dash-topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #cfb48c6c ;
    height: 6rem;
    background-color: #cfb48c2e;
}

.dash-topo h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 52rem;
    color: #df9019;  
    background-color: #433523;  
    /* border: 2px solid red; */
}

.dashboard-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    /* border: coral solid 2px; */
}

#button_monitoramento{
    width: 7.5rem;
    height: 2.7rem;
    font-size: 0.8rem;
    border-radius: 12px;
    background-color: #e0a246;
    box-shadow:1px 1px 1px #e0a246;
    border: #df9c38;
}

.dash-usuario{
    /* border: coral solid 2px; */
    margin-left: 5rem;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    border-radius: 1rem;

}

.img-usuario{
    margin: 0.7rem;
}

.imagem-config{
    width: 4rem;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid gold;
}

.nome-usuario{
    font-size: 1rem;
    font-weight: bold;
}

.linha-indicadores{
   height: 7rem;
   width: 98%;
   /* border: 2px solid crimson; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-self: center;
   gap: 2.5rem;
   margin-top: 3rem;
   margin-left: 15px;
   margin-right: 10px;
   /* margin-left: 2rem;
   margin-right: 2rem; */
}

.boxiindicadores1, .boxiindicadores2, .boxiindicadores3, .boxiindicadores4{
    height: auto;
    width: 18rem;
    /* background-color: #e0a246; */
    border-radius: 20px;
    color: #251A0D
}


.box-do-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 2px solid rgb(82, 34, 29); */
    margin-top: 5rem;
}


.grafico-principal{
    width: 80%;
    height: 35rem;
    /* border: 2px solid seagreen; */
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #cfb48c;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 4px 4px 4px #df9019;
}

/* .grafico-principal h2{
    margin-top: 3rem;
} */

.box-grafico{
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(3, 54, 64); */
    margin-bottom: 3.25rem;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: #cfb48c;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.box-grafico h2{
    color: #251A0D;
    background-color: transparent;
    font-size: 1.8rem;
}

.box-grafico canvas {
    width: 95% !important;
    height: 90% !important;
    background-color: #cfb48c;
    border-radius: 20px;
    color: black;
}

.boxiindicadores1, .boxiindicadores2, .boxiindicadores3, .boxiindicadores4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boxiindicadores1{
    background-color: #e2c292;
    border:2px solid #d2ab71;
    box-shadow: 2px 2px 2px #df9019;
}

.boxiindicadores2{
    background-color: #d6a965;
    box-shadow: 2px 2px 2px #df9019;
}

.boxiindicadores3{
    background-color: #e0a246;
    box-shadow: 2px 2px 2px #df9019;
}

.boxiindicadores4{
    background-color: #df9019;
    box-shadow: 2px 2px 2px #df9019;
}


#indicador1, #indicador2, #indicador3, #indicador4{
    font-weight: normal;
    font-size: 1.5rem;
    background-color: transparent;
}

.titulo_indicadores{
    height: 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    
}