*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat'
}

.home-fundo1{
    background-image: url(../../../Assets/Imagens/PHOS\ imagem.png); 
    width: 100%;
    height: 40rem;
}
.home1-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 43%;
    margin-left: 5rem;
    align-items: center;
}

.home-texto{
  font-size: 5.4rem; 
  color: white;
  cursor: none;
}

#home-button{
    background-color: #251A0D;
    color: white;
    height: 4rem;
    width: 14rem;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: black 2px 2px 2px;
}

.home-fundo2{
    /* background-color: rgb(155, 218, 141); */
    width: 100%;
    height: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

.home2-titulo{
    font-size: 3.5rem;
    color: #e0a246;
    margin-top: 1.8rem;
}

.section_home-cards{
/* background-color: rgb(127, 146, 255); */
margin-top: 20px;
width: 100%;
height: 550px;
display: flex;
justify-content:space-between;
flex-direction: row;
margin-left: 4rem;
margin-right: 4rem;

}

.home-card{
    background-color: rgb(247, 237, 224);
    border: 2px solid #E0A246;
    width: 30%;
    height: auto;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #E0A246;
}

.home-card img{
    width: 80%;
    height: 60%;
    border: 2px solid #E0A246;
    margin-top: 2rem;
}

.img1 {
    background-image: url(../assets/imagem/f-cruz.png);
}


.home-card p{
margin: 1.5rem;
margin-top: 12px;
color: black;
display: flex;
text-align: justify;
font-size: 1.5rem;
}

.home-card h3{
color: black;
font-size: 1.8rem;
margin-top: 8px;

}

.home-text-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6c19e;
}

.home-fundo3{
    /* background-color: rgb(218, 204, 141); */
    width: 100%;
    height: 46rem;
    display: flex;
    flex-direction: column;
}

.home3-titulo{
    font-size: 3.5rem;
    color: #e0a246;
    display: flex;
    justify-content: center;
}

.home3-carrosel{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    /* background-color: rgb(205, 249, 223); */
}

.home3-carrosel-voltar{
  border: 3px solid coral;
 width: 4rem;
 height: 4rem;
  margin-right: 1rem;
}

.home3-carrosel-imagem{
 width: 85%;
 height:100%;
 border: 2px solid #e0a246;
 /* background-color: #e0a246; */
}

.home3-carrosel-imagem img{
 width: 100%;
 height:100%;

}

.home3-carrosel-passar{
 border: 3px solid coral;
 width: 4rem;
 height: 4rem;
 margin-left: 1rem;
}

.img1{
    width: 80%;
    height: 60%;
    border: 2px solid #E0A246;
    margin-top: 2rem;
    background-image: url(../assets/imagem/fmt-cruz.png);
}

.img2{
    width: 80%;
    height: 60%;
    border: 2px solid #E0A246;
    margin-top: 2rem;
    background-image: url(../assets/imagem/fmt-ouvir.png);
}

.img3{
    width: 80%;
    height: 60%;
    border: 2px solid #E0A246;
    margin-top: 2rem;
    background-image: url(../assets/imagem/fmt-ajudar.png);
}